.track .step {
  position: relative;
  flex-grow: 1;
}
.track .step .icon {
  background: #ddd;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.track .step.active .icon {
  background: #0d6efd;
  color: #fff;
}
.track .step p {
  margin-top: 5px;
}
